.direnv
.git
.github
.helix
.make
.meta
bin
cmd
coverage
db
dist
docs
internal
nix
pkg
tmp

*.dsl
*.env
*.tar
*.env.local
*.go
*.json
*.lock
*.md
*.nix
*.puml
*.sarif
*.sql
*.toml
*.yaml
*.yml
.dockerignore
.editorconfig
.envrc
.gitignore
.markdownlintignore
CODEOWNERS
Dockerfile
LICENSE
Makefile
go.mod
go.sum

!dist/*_linux_*/bin/*
