*.dsl
*.env
*.env.local
*.json
*.md
*.puml
*.sql
*.toml
*.yaml
*.yml
.direnv
.dockerignore
.editorconfig
.git
.github
.gitignore
.vscode
CODEOWNERS
Dockerfile
LICENSE
bin
coverage
coverage.out
dist
docs/site
sonar-project.properties
src
tmp

!internal/**/*.graphql
!internal/**/genqlient.yaml
!sqlc.yaml
!swagger.yaml
