[*]
indent_style = tab
# indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[.vscode/*.json]
insert_final_newline = false

[*.md]
trim_trailing_whitespace = false

[*.yaml]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab

[*.mk]
indent_style = tab

[*.go]
indent_style = tab

[go.mod]
indent_style = tab

[.git*]
indent_style = tab

[docs/structurizr-*.puml]
end_of_line = unset
indent_size = unset
indent_style = unset
insert_final_newline = unset
tab_width = unset
trim_trailing_whitespace = unset
