source_up_if_exists

dotenv_if_exists .env
dotenv_if_exists .env.local

# TODO enable layout go + cache paths on CI
# layout go

export CGO_ENABLED=0
export DOCKER_BUILDKIT=1
# export GOENV=$(expand_path .direnv/go/env)
# export GOCACHE=$(expand_path .direnv/go/cache/build)
# GOPATH: ${PWD}/.direnv/go
# GOMODPATH: ${PWD}/.direnv/go/pkg/mod

use nix
